<h1>REGISTRO</h1>
<br><br>
<div>
  Introduce el dni:
  <input title="dni" type="text" name="dni" id="" [(ngModel)]="dni" />
  <br><br>
  Introduce el nombre:
  <input title="name" type="text" name="name" id="" [(ngModel)]="nombre" />
  <br><br>
  Introduce el email:
  <input title="email" type="text" name="email" id="" [(ngModel)]="email" />
  <br><br>
  Introduce el teléfono:
  <input title="tel" type="text" name="tel" id="" [(ngModel)]="telefono" />
  <br><br>
  Introduce el contraseña:
  <input title="contrasena" type="password" name="contrasena" id="" [(ngModel)]="contra" />
  <br><br>
  <button (click)="registerUser()">REGISTRO</button>
</div>
